---
import Picture from '../general/Picture.astro';
---

<div class='flex flex-col items-center lg:flex-row-reverse || gap-40 md:gap-64 lg:gap-125 || mb-120 md:mb-96 lg:mb-200 || '>

  <Picture name='bestGear'
      styles={{
        picture:'rounded-lg overflow-hidden',  
        img:'lg:1h-580 object-cover object-center'}}/>

  <div class='md:max-w-570 lg:w-1/2'>
    <h2 class='mb-32 || text-28/38 md:text-40/44'>
      Bringing you the <span class='text-clr-2'>best</span> audio gear
    </h2>
    <p>
      Located at the heart of New York City, Audiophile is the premier store
      for high end headphones, earphones, speakers, and audio accessories. We
      have a large showroom and luxury demonstration rooms available for you
      to browse and experience a wide range of our products. Stop by our store
      to meet some of the fantastic people who make Audiophile the best place
      to buy your portable audio equipment.
    </p>
  </div>
