---
import { Icon } from 'astro-icon';
---

<div>
  <label class=' cursor-pointer' id='cartLabel'>
    <input class='peer hidden' id='cartToggle' type='checkbox' />
    <Icon class='w-24' name='icon-cart'/>
  </label>

  <div class='absolute inset-0 w-fit h-fit mx-auto z-10 | -top-500 lg:hidden | '
    id='cartModalContainer'>
    <slot />
  </div>
</div>

<style>
  label:has(input:checked) {
    /* position: absolute; */
    inset: 0;
    height: 100vh;
    cursor: default;
  }

  /* label:has(input:checked) + #cartModalContainer {
    translate: 0 600px;
    transition: translate 0.2s ease-out;
    box-shadow: 0 0 100vmax 100vmax rgb(0, 0, 0, 0.7);
  }  */
</style>

<script>
  // const body = document.querySelector('body')
  // const navToggle = document.querySelector('input')
  // console.log(navToggle)

  // document.addEventListener('DOMContentLoaded', () => {
  //   navToggle.addEventListener('change', () => {
  //     console.log('changed')

  // })
  // })
  //   if (navToggle.checked === true)
  //     body.classList.add('overflow-hidden')
  // })
</script>
